@using Microsoft.EntityFrameworkCore
@model Lekkerbek.Web.Models.Bestelling

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bestelling</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Levertijd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Levertijd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opmerkingen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opmerkingen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AantalMaaltijden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AantalMaaltijden)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klant.Naam)
        </dd>
        <dt class="col-sm-2">
            Totaal bedrag
        </dt>
        <dd class="col-sm-10">
            € @{double totaal = 0;
                  foreach (Gerecht gerecht in Model.GerechtenLijst)
                  {
                      totaal += gerecht.Prijs;
                  }
                  totaal *= Model.AantalMaaltijden;
                  /*if (Model.Klant.Bestellingen.Count+1>=3)
                  {
                     totaal*=0.7;
                  }*/
                  totaal = Math.Round(totaal,2);
              @Html.DisplayFor(m => totaal, "Totaal bedrag")
                }
        </dd>
        <h4>
            @Html.DisplayNameFor(model => model.GerechtenLijst)
        </h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GerechtenLijst.First().Naam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GerechtenLijst.First().Categorie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GerechtenLijst.First().Prijs)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var gerecht in Model.GerechtenLijst)
                {
                    <tr>
                        <td>
                            @gerecht.Naam
                        </td>
                        <td>
                            @gerecht.CategorieId
                        </td>
                        <td>
                            € @gerecht.Prijs
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
