@model Lekkerbek.Web.Models.Bestelling

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bestelling</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leverdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leverdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opmerkingen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opmerkingen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AantalMaaltijden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AantalMaaltijden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klant.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
