@model Lekkerbek.Web.ViewModels.Bestelling.EditViewModel

@using Lekkerbek.Web.Models.Identity 

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<h4>Bestelling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.bestelling.Id" />
            <div class="form-group">
                <label asp-for="@Model.bestelling.Id" class="control-label"></label>
                <input asp-for="@Model.bestelling.Id" class="form-control" readonly="readonly"/>
                <span asp-validation-for="@Model.bestelling.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.bestelling.Opmerkingen" class="control-label"></label>
                <input asp-for="@Model.bestelling.Opmerkingen" class="form-control" />
                <span asp-validation-for="@Model.bestelling.Opmerkingen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.bestelling.AantalMaaltijden" class="control-label"></label>
                <input asp-for="@Model.bestelling.AantalMaaltijden" class="form-control" />
                <span asp-validation-for="@Model.bestelling.AantalMaaltijden" class="text-danger"></span>
            </div>
            @if (User.IsInRole(RollenEnum.Admin.ToString()) || User.IsInRole(RollenEnum.Kassamedewerker.ToString()))
            {
                <div class="form-group">
                    <p>Huidige klant van deze bestelling: @Model.HuidigeKlant</p>
                    @Html.DropDownListFor(k => k.KlantId, Model.Klanten)
                </div>
            }
            <div>
                <p>Tijdslot</p>
                <p>@Model.bestelling.Tijdslot.Tijdstip</p><a asp-action="WijzigTijdslot" asp-route-id="@Model.bestelling.Id" asp-route-tijdslotId="@Model.bestelling.Tijdslot.Id" class="btn btn-primary">Verander het tijdslot</a>
            </div>

            <div class="form-group" style="padding-top:10px">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
                <a asp-action="VoegGerechtenToe" asp-route-id="@Model.bestelling.Id" class="btn btn-primary">Voeg een gerecht toe</a>

            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bestelling.GerechtenLijst.First().Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bestelling.GerechtenLijst.First().Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bestelling.GerechtenLijst.First().Prijs)
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gerecht in Model.bestelling.GerechtenLijst)
        {
            <tr>
                <td>
                    @gerecht.Naam
                </td>
                <td>
                    @gerecht.CategorieId
                </td>
                <td>
                    € @gerecht.Prijs
                </td>
                <td>
                    <a asp-action="VerwijderEenGerecht" asp-route-id="@gerecht.Naam" asp-route-bestellingid="@Model.bestelling.Id"}>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
