@model IEnumerable<Lekkerbek.Web.Models.Bestelling>
@using Lekkerbek.Web.Models.Identity
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opmerkingen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalMaaltijden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tijdslot)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opmerkingen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalMaaltijden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klant.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tijdslot.Tijdstip)
            </td>
            
        <td>
            @if (User.IsInRole(RollenEnum.Admin.ToString()) || User.IsInRole(RollenEnum.Kassamedewerker.ToString()))
            {
                
                <a asp-action="Delete" asp-route-id="@item.Id">Delete | </a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit | </a>
            }
            @if (User.IsInRole(RollenEnum.Klant.ToString()))
            {
                @if (DateTime.Now < item.Tijdslot.Tijdstip.AddHours(-1))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete | </a>
                }
                @if (DateTime.Now < item.Tijdslot.Tijdstip.AddHours(-2))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit | </a>
                }
            }
            <a asp-action="Details" asp-route-id="@item.Id">Factuur</a>

        </td>
        </tr>
        }
    </tbody>
</table>
