@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Internal.Account
@model IEnumerable<Lekkerbek.Web.ViewModels.GebruikerMetRolViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="usersTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gebruikersnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geboortedatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>


        </tr>
    </thead>
    
</table>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(function () {
            $('#usersTable').DataTable({
                "ajax": {
                    "url": "/Account/LaadAlleGebruikersMetRol",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Gebruikersnaam" },
                    { "data": "Email" },
                    { "data": "Adres" },
                    { "data": "Geboortedatum" },
                    { "data": "Rol" },
                    /*{ "data": null, "defaultContent": "<a href='' class='edit'>Edit</a>" },
                    { "data": null, "defaultContent": "<a href='' class='del'>Delete</a>"}*/
                ]
            });
        });

        $('#usersTable tbody').on('click', 'tr', function() {

                var id = $("td:first", this).text(); $.get('@Url.Action("Details","Account")', { id: id }, function(data) {
                    $("body").html(data);
                });
        });

        $('#usersTable tbody').on('click', 'tr', function (e) {
            e.preventDefault();
            var id = $("td:first", this).text();
            if ($(e.target).is("a.del")) { $.get('@Url.Action("Delete","Account")', { id: id }, function (data) {
                    $("body").html(data);
                });
                return;
            }
            if ($(e.target).is("a.edit")) { $.get('@Url.Action("Edit","Account")', { id: id }, function (data) {
                    $("body").html(data);
                });
                return;
            }
            $.get('@Url.Action("Details","Account")', { id: id }, function (data) {
                $("body").html(data);
            });
        });


    </script> }
<style>
    #usersTable tbody tr {
        cursor: pointer;
    }
</style>
