@model IEnumerable<Lekkerbek.Web.Models.Identity.Gebruiker>
@{
    ViewData["Title"] = "Index"; }
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<h1>Index</h1>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table id="usersTable" class="table">
    <thead>
    <tr>
        <th> @Html.DisplayNameFor(model => model.Id)
        </th>
        <th> @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th> @Html.DisplayNameFor(model => model.Email)
        </th>
        <th> @Html.DisplayNameFor(model => model.Geboortedatum)
        </th>
        <th> @Html.DisplayNameFor(model => model.Adres)
        </th> </tr>
    </thead>
</table>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(function () {
            $('#usersTable').DataTable({
                "ajax": {
                    "url": "/Account/LoadAllUsers",
                    "type": "GET",
                    "datatype": "json"
                }
            });
        });
    </script> }