@model IEnumerable<Lekkerbek.Web.Models.Gerecht>
@using Lekkerbek.Web.Models.Identity

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Voeg Nieuw voorkeurgerecht toe</a>
    <a>@ViewBag.User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (User.IsInRole(RollenEnum.Klant.ToString()))
    {
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categorie.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prijs)
                    </td>
                    <td>
                        <a asp-controller="Gerecht" asp-action="Details" asp-route-id="@item.Naam">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Naam">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
