@model IEnumerable<Lekkerbek.Web.Models.Identity.Gebruiker>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geboortedatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Getrouwheidsscore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsProfessional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BtwNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirmaNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
 
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geboortedatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Getrouwheidsscore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProfessional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BtwNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirmaNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
      
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
