@using Microsoft.CodeAnalysis.Differencing
@model Lekkerbek.Web.ViewModels.OpeningsUur.DagInfoViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Info @Model.OpeningsUur.Dag @Model.OpeningsUur.Startuur.Date.ToString().Substring(0, 10)</h2>

<h4>Aantal koks beschikbaar</h4>
<p>@Model.AantalKoksBeschikbaar</p>
@if(Model.AlleKoks.Count >0){
<h4>Overzicht koks</h4>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Gebruikersnaam
                </th>
                <th>
                    Beschikbaarheid
                </th>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AlleKoks)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                @if (Model.KoksZiekOpDag.Contains(item))
                {
                    <td>
                        Is ziek
                    </td>
                }
                else if (Model.KoksVakantieOpDag.Contains(item))
                {
                    <td>
                        Heeft vakantie
                    </td>

                }
                else
                {
                    <td>
                        Beschikbaar
                    </td>
                    <td>
                        <form asp-controller="OpeningsUur" asp-action="IsZiekOfOpVerlof" asp-route-id="item.Id" asp-route-IsZiek="true" asp-route-OpeningsUurId="@Model.OpeningsUur.Id">
                            <input type="submit" value="Ziek melden" />
                        </form>
                        <form asp-controller="OpeningsUur" asp-action="IsZiekOfOpVerlof" asp-route-id="item.Id" asp-route-IsZiek="false" asp-route-OpeningsUurId="@Model.OpeningsUur.Id">
                            <input type="submit" value="Vakantie melden" />
                        </form>
                    </td>
                }
                <td>
                    <a asp-controller="Account" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}



<table class="table">
    <thead>
        <tr>
            <th>
                Tijdstip
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tijdsloten.FirstOrDefault().Id)
            </th>
            <th>
                Toegewezen aan kok
            </th>
            <th>
                Vrij
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tijdsloten)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tijdstip.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InGebruikDoorKok.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsVrij)
                </td>
                <td>
                    <a asp-controller="Tijdslot" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Tijdslot" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>