@model IEnumerable<Lekkerbek.Web.Models.Kalender.OpeningsUur>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-controller="OpeningsUur" asp-action="Create">Nieuwe Dag Aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uur)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uur)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
